# Ignore system files and logs
*.log
*.dat
.DS_Store
*.ini
*.pbix
*.csv
*NTUSER*
*/AppData/
*/Desktop/
*/Downloads/
*/Music/
*/Videos/
*/OneDrive/
*.log
*.dat
.DS_Store
*.ini
*.pbix
*.csv
*NTUSER*
*/AppData/
*/Desktop/
*/Downloads/
*/Music/
*/Videos/
*/OneDrive/
100_days_python/
python-tkinter/
python_100_days_of_code/
